In [1]:
import pandas as pd

# Read a .csv from a URL with Pandas

##### Target website: https://www.football-data.co.uk/data.php

This website contains record of football matches of so many countries of different years.

In [2]:
# reading 1 csv file from the website 
df_premier24= pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')   #link of 'england matches' > 'season24-25' > 'premier league'

In [3]:
# showing dataframe
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [4]:
# rename columns
df_premier24.rename(columns = {'FTHG':'Home Goals',
                               'FTAG':'Away Goals'}, inplace = True)

In [5]:
# show dataframe
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

# Read .csv from Multiple URLs with Pandas
###### https://www.football-data.co.uk/mmz4281/2122/E0.csv
###### https://www.football-data.co.uk/mmz4281/2122/E1.csv

##### Link: root + season + league

In [6]:
#Above we see both links are same text except E0 and E1 is different so we can break the link

# link structure
'https://www.football-data.co.uk/mmz4281/' + '2122' + '/' + 'E0' + '.csv'       #breaking first link

'https://www.football-data.co.uk/mmz4281/2122/E0.csv'

In [7]:
# create a root variable: Root variable is common part of links
root = 'https://www.football-data.co.uk/mmz4281/'

# Multiple leagues
###### . https://www.football-data.co.uk/mmz4281/2122/E0.csv                              
###### . https://www.football-data.co.uk/mmz4281/2122/E1.csv
###### . https://www.football-data.co.uk/mmz4281/2122/E2.csv
###### . https://www.football-data.co.uk/mmz4281/2122/E3.csv
###### . https://www.football-data.co.uk/mmz4281/2122/EC.csv

In [8]:
# creating list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frame = []       #empty list to store csv files
# looping through leagues, read multiple csv and append it into a list
for league in leagues:
    df = pd.read_csv(root + '2122' + '/' + league + '.csv', encoding = 'unicode_escape')
    frame.append(df)

In [9]:
# length of frames
len(frame)

5

In [10]:
# show 1st, 2nd and 3rd element
frame[0]       #shows file of E0 league 2122 season

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

# Multiple Seasons

multiple season have change in season and league no. both

In [20]:
for season in range(10,16):
    seasons = str(season)+str(season+1)

In [17]:
#creating list of leagues
leagues = ['E0','E1','E2','E3','EC']
frames = []
# loop through range of seasons and insert new column
for league in leagues:
    for season in range(10,16):
        df = pd.read_csv(root + seasons + '/' + league + '.csv', encoding = 'unicode_escape')
        df.insert(1, 'season', season)      #season column at index 1
        frames.append(df)

In [18]:
# total frames (6 seasons x 3 leagues)
len(frames)

30

In [29]:
# show 1st, and last element (new season column was created)
frames[8]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,12,04/08/2023,20:00,Sheffield Weds,Southampton,1,2,A,0,...,1.83,0.25,1.91,1.99,1.93,2.00,1.97,2.00,1.88,1.95
1,E1,12,05/08/2023,15:00,Blackburn,West Brom,2,1,H,2,...,1.70,0.00,2.05,1.85,2.07,1.85,2.10,1.88,2.03,1.82
2,E1,12,05/08/2023,15:00,Bristol City,Preston,1,1,D,0,...,1.68,-0.25,1.82,2.08,1.84,2.08,1.88,2.15,1.80,2.04
3,E1,12,05/08/2023,15:00,Middlesbrough,Millwall,0,1,A,0,...,1.77,-0.25,1.80,2.10,1.83,2.10,1.91,2.14,1.85,1.99
4,E1,12,05/08/2023,15:00,Norwich,Hull,2,1,H,1,...,1.92,-0.75,2.06,1.84,2.05,1.86,2.10,1.91,2.01,1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,12,04/05/2024,12:30,Rotherham,Cardiff,5,2,H,2,...,1.82,0.25,2.01,1.89,2.00,1.88,2.06,1.91,1.98,1.85
548,E1,12,04/05/2024,12:30,Stoke,Bristol City,4,0,H,3,...,2.17,-0.25,1.86,2.04,1.88,2.01,1.96,2.07,1.89,1.96
549,E1,12,04/05/2024,12:30,Sunderland,Sheffield Weds,0,2,A,0,...,1.86,-0.25,1.95,1.95,1.94,1.94,2.04,1.95,1.98,1.85
550,E1,12,04/05/2024,12:30,Swansea,Millwall,0,1,A,0,...,1.96,-0.50,2.05,1.85,2.05,1.85,2.06,1.86,2.03,1.81
551,E1,12,04/05/2024,12:30,West Brom,Preston,3,0,H,1,...,1.75,-1.00,1.95,1.95,1.92,1.97,1.95,2.14,1.84,2.01

# Organize All The Data in a Dictionary

In [33]:
# create a dictionary with original name of league as key
dict_countries = {'Spanish La Liga':'SP1', 
                  'Spanish Segunda Division':'SP2',
                  'German Bundesliga':'D1',
                  'English Premier League':'E0', 
                  'English League 1':'E2', 
                  'English League 2':'E3' }

In [34]:
# get a dictionary element
dict_countries['German Bundesliga']      #this gives value of this key 'German Bundesliga'

'D1'

In [39]:
dict_historical_data ={}                        #Initialize an empty dictionary to store historical data for each league
# looping through key elements

for league in dict_countries:
    frames = []       #one dataframe per league
    for season in range(10, 16):
        df = pd.read_csv(root + seasons + "/" + dict_countries[league]+ ".csv")
        df.insert(1, 'season', season)
        frames.append(df)
    df_frames = pd.concat(frames) # storing all seasons of a different league in a single dataframe using concat and store it in df_frame
    dict_historical_data[league] = df_frames # assigning dataframe to a new dictionary

In [38]:
# show dataframe inside dict_historical_data
dict_historical_data['German Bundesliga']     #put any league name (like German Bundesliga) of which you want records of all season between  10 to 16

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,D1,10,14/08/15,Bayern Munich,Hamburg,5,0,H,1,0,...,3.10,30,-2.50,1.91,1.84,2.06,1.99,1.10,12.57,30.92
1,D1,10,15/08/15,Augsburg,Hertha,0,1,A,0,0,...,1.63,27,-0.50,2.04,1.99,1.91,1.86,2.13,3.43,3.87
2,D1,10,15/08/15,Darmstadt,Hannover,2,2,D,1,0,...,1.70,27,0.00,1.88,1.80,2.14,2.05,2.70,3.28,2.90
3,D1,10,15/08/15,Dortmund,M'gladbach,4,0,H,3,0,...,1.96,25,-0.50,1.75,1.71,2.27,2.19,1.63,4.24,5.85
4,D1,10,15/08/15,Leverkusen,Hoffenheim,2,1,H,1,1,...,2.38,27,-1.00,1.88,1.82,2.09,2.03,1.48,4.84,7.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D1,15,14/05/16,Hoffenheim,Schalke 04,1,4,A,1,2,...,2.80,30,0.25,1.98,1.94,1.97,1.92,3.48,4.18,2.03
302,D1,15,14/05/16,Leverkusen,Ingolstadt,3,2,H,2,1,...,2.56,30,-1.00,1.88,1.83,2.10,2.03,1.69,4.20,5.27
303,D1,15,14/05/16,Mainz,Hertha,0,0,D,0,0,...,2.06,28,-0.50,2.10,2.06,1.86,1.82,2.04,3.59,3.98
304,D1,15,14/05/16,Werder Bremen,Ein Frankfurt,1,0,H,0,0,...,2.40,29,-0.50,2.00,1.97,1.95,1.89,1.95,3.79,4.11
305,D1,15,14/05/16,Wolfsburg,Stuttgart,3,1,H,2,0,...,3.11,28,-0.25,2.05,2.00,1.91,1.86,2.09,4.43,3.16